<div
  class="container mt-5 d-flex flex-column justify-content-center align-items-center"
>
  <h2 class="text-center mb-4">Find My Booking</h2>
  <form
    [formGroup]="confirmationCodeForm"
    (ngSubmit)="handleFormSubmit()"
    class="col-md-6"
  >
    <div class="input-group mb-3">
      <input
        class="form-control"
        type="text"
        id="confirmationCode"
        formControlName="confirmationCode"
        placeholder="Enter the booking confirmation code"
      />

      <button type="submit" class="btn btn-hotel input-group-text">
        Find booking
      </button>
    </div>
  </form>

  <div *ngIf="isLoading">Finding your booking...</div>
  <div *ngIf="error" class="text-danger">Error: {{ error }}</div>

  <div *ngIf="!isLoading && bookingInfo">
    <div class="col-md-6 mt-4 mb-5">
      <h3>Booking Information</h3>
      <p class="text-success">
        Confirmation Code: {{ bookingInfo.bookingConfirmationCode }}
      </p>
      <p>Room Number: {{ bookingInfo.room.id }}</p>
      <p>Room Type: {{ bookingInfo.room.roomType }}</p>
      <p>Check-in Date: {{ formatDate(bookingInfo.checkInDate) }}</p>
      <p>Check-out Date: {{ formatDate(bookingInfo.checkOutDate) }}</p>
      <p>Full Name: {{ bookingInfo.guestName }}</p>
      <p>Email Address: {{ bookingInfo.guestEmail }}</p>
      <p>Adults: {{ bookingInfo.numOfAdults }}</p>
      <p>Children: {{ bookingInfo.numOfChildren }}</p>
      <p>Total Guest: {{ bookingInfo.totalNumOfGuests }}</p>

      <button
        *ngIf="!isDeleted"
        (click)="handleBookingCancellation()"
        class="btn btn-danger"
      >
        Cancel Booking
      </button>
    </div>
  </div>

  <div *ngIf="isDeleted" class="alert alert-success mt-3 fade show">
    {{ successMessage }}
  </div>
</div>
