<section class="bg-light p-2 mb-5 mt-5 shadow">
  <div class="container">
    <app-room-filter
      [data]="data"
      (filteredData)="setFilteredData($event)"
    ></app-room-filter>

    <div class="row">
      <div *ngFor="let room of filteredData; let i = index">
        <app-room-card [room]="room"></app-room-card>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center mb-3">
      <app-room-paginator
        [currentPage]="currentPage"
        [totalPages]="4"
        (pageChange)="handlePageChange($event)"
      ></app-room-paginator>
    </div>
  </div>
</section>
